<article class="project">
    <Project::Image src={{@model.image}}
    alt="A picture of {{@model.title}}"  />
    <div class="details">
        <h3>{{@model.title}}</h3>
        <div class="detail descricao">
            {{@model.description}}
        </div>
        <div class="detail linguagem">
            <span>Linguagens:</span> 
            <p>{{@model.linguagens}}</p>
        </div>
        <div class="detail links">
            <a href={{@model.link_github}} target="_blank">Github</a>
            <span>|</span>
            <a href={{@model.link_deploy}}>Deploy</a>
        </div>
    </div>
</article>